<div class="account-section">
    <h1>Account</h1>
    <div class="account-container">
        <div class="account-content">
            {% assign  number_of_orders = customer.orders |size %}
            {% if number_of_orders >0 %} 
            <div class="heading-conten_order">
            <h2 class="heading">Order History</h2>
            {% paginate customer.orders by 5 %}
            <div>
            {% for order in customer.orders %}
             <div class="optio">
            {{ order.name }}
            </div>
            
            {% endfor  %}
        </div>
            
            {% endpaginate %}
            </div>

            {% else %}
         <div class="else-condition">
           <h2 class="else-cot"> you currently don't have any orders</h2>
        </div>
            {% endif %}
        
        </div>
    </div>
</div>
<div class="account-section"></div>
<div class="account-section"></div>