{% if cart.item_count > 0 %}

    {% else %}
    <div class="Cart_meseg_section">
    <div class="Cart_MEnu_section">
    <h1 class="msg_headimg">you cart empty</h1>
    </div>
    </div>
    {% endif %}